:root {
  --redwood: #b36a5eff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --slate-gray: #6e7e85ff;
}

.test{
  color: #fca311;
  background-color: black;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--platinum);
  font-family: 'Open Sans', sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
}

button.cta {
  background-color: var(--orange-web);
  color: var(--oxford-blue);
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

button.cta:hover {
  background-color: hsla(37, 98%, 53%, 0.7);
}

input:focus{
  outline: none;
  border: 1px solid var(--oxford-blue);
}

/* Styles for sign up and login pages */

main.authforms {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0 128px 0 80px;
  margin: 64px 0px;

}

main.authforms img {
  width: 100%;
  max-width: 560px;
  height: auto;
}

div.authform{
  background-color: var(--redwood);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 56px;
  padding: 64px 80px;
  border-radius: 8px;
}

div.authform form{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

div.authform label{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

div.authform input{
  padding: 10px;
  border-radius: 8px;
}

div.authform button.cta{
  padding: 16px 0;
  border-radius: 8px;
}

button.google {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
button.google img {
  width: 16px;
}

div.authform p.smallLogin{
  font-size: 14px;
  margin: 0 auto;
}

div.authform p.smallLogin span{
  color: var(--orange-web)
}

div.authform span:hover{
cursor: pointer;
}

@media only screen and (max-width: 1180px){

  main.authforms{
    padding-left: 24px;
  }

  main.authforms > img{
    max-width: 320px;
  }

  div.authform form{
    width: 256px;
  }
}

@media only screen and (max-width: 870px){
  main.authforms{
    padding: 0px 64px;
  }
 
  main.authforms > img{
    display: none;
  }

  main.authforms >div{
    width: 100%;
  }

  main.authforms form{
    width: auto;
  }
}

@media only screen and (max-width: 520px){

  main.authforms{
    padding: 0px 12px;
 
    justify-content: center;
    margin: 48px auto;
    /* padding: 0px; */
  }

 main.authforms div.authform{
    padding: 32px 32px;
    gap: 24px;
    width: 220px;
  }

  div.authform h1{
    font-size: 24px;
  }

  div.authform h3{
    font-size: 14px;
  }

}

@media only screen and (max-width: 320px){

  main.authforms{
    margin: 48px 0px;
    align-items: center;
  }

  main.authforms div.authform{
    width: 160px;
  }

  /* div */

}